@import "tailwindcss";
@tailwind utilities;

@plugin "daisyui" {
  themes: frjuggly --default --prefersdark;
}
@plugin "daisyui/theme" {
  name: "frjuggly";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(21% 0.006 56.043);
  --color-primary: oklch(62% 0.214 259.815);
  --color-primary-content: oklch(97% 0.014 254.604);
  --color-secondary: oklch(63% 0.237 25.331);
  --color-secondary-content: oklch(97% 0.013 17.38);
  --color-accent: oklch(65% 0.241 354.308);
  --color-accent-content: oklch(97% 0.014 343.198);
  --color-neutral: oklch(26% 0.007 34.298);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(65% 0.241 354.308);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/* @theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@font-face {
  font-family: "SF Pro";
  src: url("/public//fonts//San-Francisco-Pro/SF-Pro-Text.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/public/fonts/San-Francisco-Pro/SF-Pro-Display-Regular.otf")
    format("olf");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family:
    "SF Pro",
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;

  overflow-x: hidden;
}

main {
  @apply flex-center screen;
}

header {
  @apply z-30;
}
nav {
  @apply z-30;
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

@utility normal-transition {
  @apply transition-all duration-300;
}

@utility typography-siri-utterance {
  @apply bg-gradient-to-r from-[#f45f7f] via-[#887af7] to-[#0ecdfd] bg-clip-text text-[44px] leading-[2.75rem] font-semibold tracking-normal text-transparent;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-col-center {
  @apply flex flex-col items-center justify-center;
}

@utility fixed-center {
  @apply fixed top-1/2 right-1/2 translate-x-1/2 -translate-y-1/2;
}

@utility screen {
  @apply min-h-screen min-w-screen;
}

@utility vignette-container {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}

@utility container-lg {
  @apply m-auto h-full w-[980px];
}

@utility room-tv-hardware-size {
  @apply h-[115%] w-[109%];
}

@utility color-container {
  @apply flex items-center justify-center rounded-full bg-gray-300 px-4 py-4 backdrop-blur;
}

@utility size-btn-container {
  @apply ml-3 flex items-center justify-center gap-1 rounded-full bg-gray-300 p-1 backdrop-blur;
}

@utility size-btn {
  @apply flex h-10 w-10 items-center justify-center rounded-full bg-white text-sm text-black transition-all;
}
